body {
  background-color: rgba(0, 23, 76, 0.8);
  padding: 50px;
  font-family: Karla, sans-serif;
}

.login--container {
  width: 500px;
  margin: auto;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.login--title {
  font-size: 3.5rem;
  padding: 25px;
}

.login--title.absolute {
  position: absolute;
  padding: 5px 20px 0 20px;
  top: -40px;
  left: 0px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.login--paragraph {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

form.login--form {
  padding-bottom: 25px;
}

.login--form label {
  font-size: 0.8rem;
  display: inline-block;
  width: 90px;
}

.login--form input {
  width: 200px;
}

.login--form button {
  display: inline-block;
  max-width: 100px;
  text-align: center;
  margin: 25px 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: Tektur, sans-serif;
  color: #f5f5f5;
}

.login--submitButton {
  background-color: rgba(0, 23, 76, 0.8);
}

button.login--toggleRegisterButton {
  background-color: rgba(0, 23, 76, 0.2);
  border: 1px solid rgba(0, 23, 76, 0.8);
  color: rgb(0, 23, 76);
  max-width: 200px;
}

.login--submitButton:hover {
  background-color: rgba(0, 23, 76, 0.5);
}

.login--toggleRegisterButton:hover {
  background-color: rgba(0, 23, 76, 0.335);
  color: #f5f5f5;
}

.login--error {
  display: block;
  color: red;
  border: 1px solid rgba(0, 23, 76, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  width: fit-content;
  padding: 5px;
  margin: 10px auto 25px auto;
}

/* LOG IN PAGE STYLE ENDS
***********************
  SPECIFIC WINDOW STARTS*/

div.specificWindow--container {
  width: 70%;
  height: 70%;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid black;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.specificWindow--title {
  font-weight: bold;
  padding: 25px;
  padding-bottom: 0;
  font-size: 2.5rem;
}

.specificWindow--headline {
  padding: 25px;
  font-size: 2rem;
}

.specificWindow--paragraph {
  padding: 25px;
}

.specificWindow--detailsList li {
  padding: 10px 25px;
}

.specificWindow--TenantList {
  display: flex;
  justify-content: space-between;
}

.specificWindow--alerts span {
  font-size: 1.1rem;
  font-weight: bold;
  color: red;
}

.specificWindow--notes {
  display: block;
  margin: 10px 25px;
  padding: 5px;
  height: 70px;
  border: 1px solid black;
}
.specificWindow--notes--title {
  padding: 20px 25px 0 25px;
}

.specificWindow--contactList--recommended {
  display: block;
  margin: 10px 25px;
  padding: 1px;
  color: rgb(0, 208, 0);
  background-color: rgb(0, 54, 0);
  width: fit-content;
}
.specificWindow--contactList--notRecommended {
  display: block;
  margin: 10px 25px;
  padding: 1px;
  background-color: red;
  width: fit-content;
  font-weight: bold;
}

/* SPECIFIC WINDOW STYLE ENDS
***********************
  APP LIST STARTS*/

.appList--container {
  width: 80vh;
  height: 80vh;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 25px;
  margin: 50px auto;
  position: relative;
}

.appList--section {
  margin-top: 5%;
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  overflow-y: auto;
}

.appList--sortSwitch--container {
  display: flex;
  align-items: center;
}

.appList--sorted--text {
  padding-left: 10px;
}

.appList--edit--button {
  display: inline-block;
  width: fit-content;
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 23, 76, 0.8);
  color: #f5f5f5;
  font-family: Tektur, sans-serif;
}

.appList--edit--button:hover {
  background-color: rgba(0, 23, 76, 0.5);
}

.appList--logOut--button {
  display: inline-block;
  width: fit-content;
  font-size: 14px;
  padding: 3px;
  margin: auto 10px;
  border-radius: 5px;
  background-color: rgba(0, 23, 76, 0.8);
  color: #f5f5f5;
  font-family: Tektur, sans-serif;
}

.appList--sortByTenant--container {
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.appList--sortByTenant--TenantCard {
  display: flex;
  justify-content: space-evenly;
}

.appList--sortByTenant--TenantCard span {
  display: block;
  width: 20%;
}

/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.edit--switch {
  margin: 10px 25px;
}

input:checked + .slider {
  background-color: rgba(0, 23, 76, 0.8);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 23, 76, 0.8);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* APP LIST STYLE ENDS
***********************
  APP CARDS STARTS*/

.appCard--container {
  margin: 0;
  flex-basis: 30%;
  height: 200px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}

.appCard--container > * {
  padding: 10px;
}

.appCard--name {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.appCard--name:hover {
  text-decoration: underline;
  color: rgba(0, 23, 76, 0.8);
  cursor: pointer;
}
.appCard--address {
  padding-top: 25px;
  letter-spacing: 1px;
  width: fit-content;
}

.appCard--address:hover {
  text-decoration: underline;
  color: rgba(0, 23, 76, 0.8);
  cursor: pointer;
}

.appCard--forLease {
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  border-radius: 2px;
  padding: 2px;
}

.appCard--alerts {
  position: absolute;
  font-size: 1.2rem;
  top: 20px;
  left: -10px;
}

/* EDIT WINDOW */

.editWindow--formContainer {
  padding: 25px;
}

.editWindow--formContainer label {
  display: inline-block;
  width: 125px;
  padding-bottom: 5px;
}

.editWindow--formContainer input {
  width: 250px;
}

.editWindow--formContainer select {
  width: 258px;
}

.editWindow--submitButton {
  margin: 10px;
  width: 100px;
}

input#recommended {
  width: 25px;
}

#phoneTypes {
  width: 70px;
}

#phoneNumbers {
  width: 180px;
}

.editWindow--phoneFieldDiv {
  display: inline-block;
}

input#leased {
  width: 25px;
}

/* ADDRESS FORM */

#alertTitle {
  max-width: 75px;
}

.addressForm--removeSelectedTenant {
  color: red;
  font-size: 0.7rem;
  padding-left: 8px;
  cursor: pointer;
}

.addressForm--selectedTenantList {
  width: 70%;
  margin: 3px auto;
}
